html,
body {
    font-family: 'Playfair Display', serif;
    background-color: FloralWhite;
  }

  h1 {
    color: blue;
    text-align: left;
  }

  p {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
  }
